<div class="backing">
    <h4 class="title">Add a Release</h4>
        <form #releaseForm="ngForm" (ngSubmit)="onSubmit(releaseForm)" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="release_date">Release Date:</label>
                    <input type="date" class="form-control" ngModel name="release_date" required/>
                </div>
                <div class="form-group">
                    <label for="release_anchor">Release Anchor:</label>
                    <input type="text" class="form-control" ngModel name="release_anchor" required/>
                </div>
                <div class="form-group">
                    <label for="textfile">Select Release File: </label>
                    <input type="file" id="textfile" ngModel name="textfile">
                </div>
                <div class="form-group">
                    <button  class="btn btn-primary">
                        Add Release
                    </button>
                </div>
            </form>
</div>
