.wrapper {
    width:40%;
    margin: 0 auto;
    margin-top:2em;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    text-align: center;
}