<div class="backing">
    <h4 class="title">Account Settings</h4>
        <form #nameForm="ngForm" (ngSubmit)="onSubmitName(nameForm)">
                <div class="form-group hide">
                        <label for="soeid">Name</label>
                        <input type="number" class="form-control" ngModel name="soeid" required/>
                    </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ngModel name="name" required/>
                </div>
                <div class="form-group">
                    <button  class="btn btn-primary">
                        Change Name
                    </button>
                </div> 
            </form>
            
            <form #passForm="ngForm" (ngSubmit)="onSubmitPass(passForm)">
                <div class="form-group" class="hide">
                    <label for="soeid">soeid</label>
                    <input type="number" class="form-control" ngModel name="soeid" disabled/>
                </div>
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" ngModel name="old_password" required/>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" ngModel name="new_password" required/>
                </div>
                <div class="form-group">
                    <label for="con_password">Confirm Password</label>
                    <input type="password" class="form-control" ngModel name="con_password" required/>
                </div>
                <p class="error" *ngIf="error">Passwords don't match</p>
                <div class="form-group">
                    <button  class="btn btn-primary">
                        Change Password
                    </button>
                </div> 
            </form>
</div>


